.my-progress-circle-wh {
    width: 50px;
    height: 50px;
}

.my-progress-title {
    left: 25px;
    top: 60px;
    transform: translate(-50%, 0);
}

.my-progress-bg {
    color: white;
    background-color: #adb5bd;
}

.my-order-w {
    width: calc(100% - 75px);
}

.my-w-75 {
    width: 75px;
}

.my-w-50 {
    width: 50px;
}

.my-color-light {
    color: #adb5bd;
}

.my-table-h {
    height: 250px;
}

.my-blank {
    padding: 50px;
}

.card {
    height: 500px;
}

.product-card {
    height: 100%;
}

.product-image {
    height: 200px;
    object-fit: cover;
}

.my-map-form {
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}


@media (max-width: 768px) {
    .my-map-form {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}